<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BASE_URL"       value="http://192.168.0.194:8080/biometrico/v1/" />

    <!-- APIS ARTICULOS-->
    <add key="ART_GET_URL"      value="articulos" />
    <add key="ART_GET_ID_URL"   value="articulos/{id}" />
    <add key="ART_GET_COD_URL"  value="articulos/buscar/{codigo}" />
    <add key="ART_PUT_ID_URL"   value="articulos/{id}" />
    <add key="ART_POST_URL"     value="articulos" />
    <add key="ART_DEL_ID_URL"   value="articulos/{id}" />

    <!-- APIS PERSONA-->
    <add key="PER_GET_URL"      value="personas/" />
    <add key="PER_GET_ID_URL"   value="personas/{id}" />
    <add key="PER_GET_COD_URL"  value="personas/buscar/{codigo}" />
    <add key="PER_PUT_ID_URL"   value="personas/{id}" />
    <add key="PER_POST_URL"     value="personas/" />
    <add key="PER_DEL_ID_URL"   value="personas/{id}" />

    <!-- APIS ASIGNACION-->
    <add key="ASI_GET_ID_URL"   value="asignaciones/{idPersona}" />
    <add key="ASI_POST_COD_URL" value="asignaciones/asignar/{codigo}" />
    <add key="ASI_DEL_COD_URL"  value="asignaciones/asignar/{codigo}" />
    <add key="ASI_POST_BUS_URL" value="asignaciones/buscar" />

    <!-- APIS ARTICULOS-->
    <add key="USR_GET_URL"      value="usuarios" />
    <add key="USR_GET_ID_URL"   value="usuarios/{id}" />
    <add key="USR_POST_USR_URL"  value="usuarios/login" />
    <add key="USR_PUT_ID_URL"   value="usuarios/{id}" />
    <add key="USR_POST_URL"     value="usuarios" />
    <add key="USR_DEL_ID_URL"   value="usuarios/{id}" />

  </appSettings>
</configuration>